<!-- Header -->
<div class="header">
    <div class="align-center">
    <h1 class="text-center font-white mb-20">Greendot InsurCloud</h1>
    <h2 class="text-center font-white mb-40">A Managed Service Offering for Insurance</h2>
    <button class="align-center"">Request a Demo</button>
    </div>
</div>


<p id="startchange"></p>
<!-- Value Prop Section -->
<div class="section section--border-bottom">
    <div class="container">
        <h4 class="text-center mb-10">Managed Service Offering
</h4>
        <div class="text-center">
            <h3 class="text-center text-underline mb-80">Reduce cost and increase speed to market</h3>
        </div>

        <div class="row">
            <div class="col-md-8 feature-box mb-0">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">De-risk implementation and increase speed to market
</h5>
                <p class="font-light">Fully hosted and managed by Deloitte, removing the need for the client to build Guidewire support and capabilities internally. Fully integrated with BMS systems, Quoting Vendors and 3rd party data services using Deloitte’s Insurance API Marketplace.</p>
            </div>
            <div class="col-md-8 feature-box mb-0">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Allows you to focus on your core business
</h5>
                <p class="font-light">Services support team provides IT Service Management, including Incident, Problem, Infrastructure Management and Monitoring. Capacity based model to support defects, enhancements and changes using the agile points system.
</p>
            </div>
            <div class="col-md-8 feature-box mb-0">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Flexibility in services and duration
</h5>
                <p class="font-light">High degree of flexibility on ownership of activities and services. Broad range of services that you can select from, ranging from IT Service Management to Application development. Flexible contract duration.</p>
            </div>
        </div>
    </div>
</div>

<div class="section section--border-bottom">
    <div class="container">

        <div class="feature-section mb-80">
                        <div class="feature-section__picture"></div>
            <div class="feature-section__text mr-40">
                <h4 class="mb-10">Integration</h4>
                <h3 class="mb-40">Deloitte’s Pre-Configured Canadian Layer</h3>
                <h5 class="mb-10">Deloitte’s Pre-Configured Canadian Layer</h5>
                <p class="font-light mb-20">Deloitte’s Base Product for Guidewire includes functionality that is country-specific (e.g. regulated auto product). Includes integrations with known 3rd party vendors (e.g. data services, BMS and Quoting vendors, Financial integrations). Includes functionality that is considered best practice in the industry such as Agency bill, document workflows.
                </p>
                <h5 class="mb-10">Guidewire OOTB Layer</h5>
                <p class="font-light">OOTB Guidewire provides policy, billing and claims functionality.</p>
            </div>

        </div>

<!--
        <div class="feature-section">
            <div class="feature-section__picture mr-40"></div>
            <div class="feature-section__text">
                <h4 class="mb-10">Lorem Ipsum</h4>
                <h3 class="mb-40">Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
                <h5 class="mb-10">Lorem Ipsum dolor sit</h5>
                <p class="font-light mb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris purus tellus, tempor et metus id, rutrum tristique velit. Pellentesque rutrum tortor nec erat faucibus convallis. Vestibulum vitae semper orci.</p>
                <h5 class="mb-10">Lorem Ipsum dolor sit</h5>
                <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris purus tellus, tempor et metus id, rutrum tristique velit. Pellentesque rutrum tortor nec erat faucibus convallis. Vestibulum vitae semper orci.</p>
            </div>
        </div>
-->

    </div>
</div>





<!-- Features Section -->
<div class="section">
    <div class="container">
        <h4 class="text-center mb-10">Functionalities</h4>
        <div class="text-center">
            <h3 class="text-center text-underline mb-80">A solution that is tested and functional</h3>
        </div>


        <div class="row">
            <div class="col-md-8 feature-box">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Billing</h5>
                <p class="font-light">
                    Customizable delinquency workflow, GL integration, and automatic bill. account creation
                </p>
            </div>
            <div class="col-md-8 feature-box">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Broker Management</h5>
                <p class="font-light">
                    Broker hierarchy, commissions, and broker bill functionality already setup in base product.
                </p>
            </div>
            <div class="col-md-8 feature-box">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Reporting and Data Mgmt.</h5>
                <p class="font-light">
                    Data reporting solution implemented to handle data Operational and Regulatory Reporting (e.g. IBC)
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8 feature-box">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">BMS & Quoting Vendors</h5>
                <p class="font-light">
                    Integrated with popular quoting vendors: CompQuote, IntelliQuote, and PowerQuote
                </p>
            </div>
            <div class="col-md-8 feature-box">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Documents</h5>
                <p class="font-light">
                    Available triggers for policy, billing and claims documents. Integrated with document generation and document management solutions.
                </p>
            </div>
            <div class="col-md-8 feature-box">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Claims</h5>
                <p class="font-light">
                    Claims administration system integrated with policy and billing systems.
                </p>
            </div>

        </div>
        <div class="row">

            <div class="col-md-8 feature-box">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Integration</h5>
                <p class="font-light">
                    Integration with 3rd party vendors for broker management, financial transactions (EFT, Cheque), and data collection (credit score, address, home and vehicle data)
                </p>
            </div>
            <div class="col-md-8 feature-box">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Policy</h5>
                <p class="font-light">
                    Policy administration system that covers full lifecycle of policy: new business, servicing, cancellation, and renewals.
                </p>
            </div>
            <div class="col-md-8 feature-box">
                <div class="feature-box__icon"></div>
                <h5 class="mb-10">Products</h5>
                <p class="font-light">
                    Pre-configured with Canadian Auto ON product, with underwriting rules, and rating framework. Includes integrated full lifecycle policy, billing, and claims functionalities. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="cta-section--insurcloud">
    <h4 class="text-center font-white mb-10">Take the next step</h4>
    <h3 class="text-center font-white mb-60">Learn more about Greendot InsurCloud</h3>
    <button class="align-center"">Contact Us</button>
</div>

<div class="section">
    <div class="container">
        <div class="social-box mb-40">
            <div class="social-box__icon"></div>
            <div class="social-box__icon"></div>
            <div class="social-box__icon"></div>
            <div class="social-box__icon"></div>
        </div>
        <p class="mb-60">© 2017. See Terms of Use for more information. Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients. Please see www.deloitte.com/about to learn more about our global network of member firms.
        </p>
        <div class="footer-link-box">
            <h5>Privacy</h5>
            <h5>Terms of Use</h5>
            <h5>Cookies</h5>
        </div>
    </div>
</div>
